



<h1> HELLLOOO WORLD!!!</h1>


<%= form_tag("/usermodels", method: "post") do %>

  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><br><br>

  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><br><br>
  
  <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %><br><br>

  <%= submit_tag("Submit") %>
<% end %>

<%# <form action="/usermodels" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
  <%# <label for="name">User name:</label>
  <input type="text" id="name" name="username"><br><br>
  <label for="email">EMAIL:</label>
  <input type="email" id="email" name="email"><br><br>
  <label for="lname">password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form> %>